.App {
   width: 60%;
   color: #333;
   border: 1px solid #ccc;
   border-radius: 5px;
   background: white;
   margin: 2em;
   padding: 0 1em;
   min-height: 20em;
   min-width: 32em;
   box-shadow: 0 0 1em hsla(0,0%,0%,0.15);

}
.App > .todoList> li:nth-child(odd){
    border-bottom: 1px dashed #ccc;
  }
  .App > .todoList> li:nth-child(even){
    background: transparent;
    border-bottom: 1px dashed rgb(158, 230, 116);
  }

.Ct{
  background: url(./bg.jpg ) 0 0  no-repeat;
  background-size: cover;
}